<!-- Side Menu -->
<app-side-nav
  [menuId]="'menu'"
  [contentId]="'main-content'"
  [user]="user"
  [menuItems]="menuItems"
  [showHeaderLogo]="false"
  [logoSrc]="'../../assets/icon/rt logo.png'"
  [logoutLabel]="'Log Out'"
  (menuItemTap)="onMenuItemTap($event)"
  (logoutTap)="logOut()"
></app-side-nav>

<!-- Main content -->
<ion-header style="height: 5vh; box-shadow: none">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="menu" style="color: white"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="main-content">
  <ion-card class="main-Container ion-no-margin">
    <ion-col class="center">
      <ion-img class="logo" src="../../assets/icon/rt logo.png"></ion-img>
    </ion-col>

    <ion-card-content
      style="margin-top: 15%; padding-left: 0%; padding-right: 0%"
    >
      <h1>My Dashboard</h1>
      <hr />
      <p>Unfortunately, the dashboard is not available right now...</p>
    </ion-card-content>
  </ion-card>
</ion-content>
