<ion-content fullscreen class="faq-background">


  <div class="faq-overlay">
    <div class="faq-container">

      


      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>

      <ion-accordion-group expand="inset">
        <app-header-logo></app-header-logo>

        <div class="custom-header">
          Soalan Lazim/Frequently Asked Questions (FAQ)
        </div>
        
        <ion-card>
        <ion-accordion value="question1">
          <ion-item slot="header">
            <ion-label>
              Bolehkah beberapa orang mendaftar akaun di bawah nama perniagaan yang sama?
            </ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            Ya boleh. Beberapa pengguna boleh mendaftar akaun dibawah nama perniagaan yang sama.
          </div>
        </ion-accordion>
        </ion-card>

        <ion-card>
        <ion-accordion value="question2">
          <ion-item slot="header">
            <ion-label>
              Apa perlu saya buat jika terlupa kata laluan akaun? Bagaimana cara untuk menetapkan semua kata laluan?
            </ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            Jika anda terlupa kata laluan, klik butang "Lupa Kata Laluan" di halaman log masuk dan ikut arahan untuk menetapkan semula.
            <ion-img class="account_img" src="assets/forgot_password1.png"></ion-img>
            <ion-img class="account_img" src="assets/forgot_password2.png"></ion-img>
          </div>
        </ion-accordion>
      </ion-card>

      <ion-card>
        <ion-accordion value="question3">
          <ion-item slot="header">
            <ion-label>
              Bolehkah kami masukan data lama ke dalam aplikasi?
            </ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            Ya boleh. Anda hanya perlu pilih tarikh yang betul pada ruangan tarikh semasa mengisi borang.
          </div>
        </ion-accordion>
      </ion-card>


      <ion-card>
        <ion-accordion value="question4">
          <ion-item slot="header">
            <ion-label>
              Apa perlu dilakukan jika kami secara tidak sengaja memasukkan data yang sama (duplicate) atau data yang salah?
            </ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            Klik ikon menu dan klik butang Transaction History, cari data yang ingin dibatalkan, swipe ke kiri dan klik “Void” untuk membatalkannya.
            <ion-img class="account_img" src="assets/cancel_transaction1.png"></ion-img>
            <ion-img class="account_img" src="assets/cancel_transaction2.png"></ion-img>
            <ion-img class="account_img" src="assets/cancel_transaction3.png"></ion-img>
          </div>
        </ion-accordion>
      </ion-card>


      <ion-card>
        <ion-accordion value="question5">
          <ion-item slot="header">
            <ion-label>
              Selepas menggunakan aplikasi ini, adakah kami masih perlu menghantar laporan kepada KTA?
            </ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            Tidak perlu. Laporan kepada KTA sudah tidak perlu dihantar kerana sistem kami sudah mempunyai rekod data bisnes untuk dihantar kepada KTA.
          </div>
        </ion-accordion>
        </ion-card>

        <ion-card>
          <ion-accordion value="question6">
            <ion-item slot="header">
              <ion-label>
                Adakah terdapat cara untuk mengetahui bagaimana menggunakan aplikasi web untuk pemula?
              </ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              Ya, di sini terdapat pautan video yang menunjukkan cara menggunakan aplikasi web untuk pemula.
            <br>
            <br>
            <br>
                <a href="https://youtu.be/ERY4Ip-5HoE" target="_blank">
                  Manual Aplikasi Mudah Alih Sabah Rural Tourism 
                </a>
              
              
            </div>
          </ion-accordion>
          </ion-card>
      
      </ion-accordion-group>
    </div>
  </div>

</ion-content>
