<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
  rel="stylesheet"
/>
<ion-content [fullscreen]="true" class="background">
  <ion-header collapse="condense"> </ion-header>

  <div class="card-container">
    <ion-card>
      <ion-row>
        <ion-col class="ion-blue-bkg">
          <img
            src="../../assets/icon/explore_sabah-without_bg.png"
            class="borneo"
          />
        </ion-col>

        <ion-col class="title-col" size="12">
          <p class="title">Log Masuk Pengendali</p>
          <p class="subtitle">Operator Login</p>
        </ion-col>

        <ion-col size="12" class="welcome">
          <form class="no-border" #form="ngForm" (ngSubmit)="login(form)">
            <ion-card-header>
              <div class="field-group">
                <ion-input
                  required
                  class="input-login"
                  mode="md"
                  [(ngModel)]="username"
                  name="username"
                  label="Nama Pengguna/Username"
                  label-placement="floating"
                  fill="outline"
                  placeholder="Enter text"
                  [clearInput]="true"
                  #usernameInput="ngModel"
                ></ion-input>

                <ion-text
                  class="errorMsg"
                  *ngIf="submitted && usernameInput.invalid"
                >
                  Username is required.
                </ion-text>
              </div>

              <div class="field-group">
                <div class="password-input-wrap">
                  <ion-input
                    required
                    class="input-login"
                    mode="md"
                    [(ngModel)]="password"
                    name="password"
                    label="Kata Laluan/Password"
                    label-placement="floating"
                    fill="outline"
                    placeholder="Enter text"
                    autocomplete="off"
                    autocapitalize="off"
                    spellcheck="false"
                    [type]="showPassword ? 'text' : 'password'"
                    [clearInput]="true"
                    #passwordInput="ngModel"
                  ></ion-input>
                  <ion-icon
                    [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
                    class="password-toggle"
                    (click)="togglePassword()"
                  ></ion-icon>
                </div>

                <ion-text
                  class="errorMsg"
                  *ngIf="submitted && passwordInput.invalid"
                >
                  Password is required.
                </ion-text>

                <div class="forgot-password-row">
                  <ion-button
                    fill="clear"
                    mode="ios"
                    class="forgot-password-btn"
                    [routerLink]="['/forgot-password']"
                  >
                    Lupa Kata Laluan?
                  </ion-button>
                </div>
              </div>
            </ion-card-header>

            <ion-card-content>
              <ion-button
                mode="ios"
                type="submit"
                color="primary"
                class="input-button"
                expand="block"
              >
                Log Masuk
              </ion-button>

              <ion-button
                fill="clear"
                mode="ios"
                color="primary"
                class="input-button"
                expand="block"
                (click)="register()"
              >
                Daftar Akaun / Register Account
              </ion-button>

              <div class="powered-by-card" aria-label="Powered by Datablu">
                <span class="powered-by-text">Powered by:</span>
                <img
                  src="../../assets/icon/Datablu.png"
                  alt="Datablu"
                  class="powered-by-logo"
                />
              </div>
            </ion-card-content>
          </form>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>
