<ion-content>
  <form #form="ngForm" (ngSubmit)="submitForm()">
    <div id="container">
      <ion-card class="main-Container">
        <ion-button id="cancel" fill="clear" mode="ios">
          <!-- <ion-icon slot="start" name="chevron-back"></ion-icon> -->
          <span>Cancel</span>
        </ion-button>
        <app-header-logo></app-header-logo>

        <!-- alert cancel -->

        <ion-alert
          trigger="cancel"
          header="Adakah anda pasti ingin membatalkan?"
          subHeader="Are you sure you want to cancel?"
          [buttons]="cancelButton"
        ></ion-alert>

        <swiper-container
          #swiper
          (afterInit)="swiperReady()"
          (swiperslidechange)="onSlideChange($event)"
          [spaceBetween]="10"
          [loop]="false"
          [simulateTouch]="false"
          [touchMove]="false"
        >
          <!-- *ngIf="currentStep === 2" -->
          <!-- Step 2: Choose between Activity or Accommodation -->
          <swiper-slide>
            <ion-list class="form-container">
              <ion-item style="margin-bottom: 2%" class="no-border">
                <ion-label class="question-label"
                  >Pilih Servis Anda /<span style="font-style: italic"
                    >Pick your service</span
                  ></ion-label
                >
              </ion-item>
              <ion-button
                mode="ios"
                style="margin-top: 5%"
                expand="block"
                (click)="selectOption('activity')"
                >Aktiviti/Activity</ion-button
              >
              <ion-button
                mode="ios"
                style="margin-top: 5%"
                expand="block"
                (click)="selectOption('accommodation')"
                >Tempat Penginapan/Accommodation</ion-button
              >
            </ion-list>

            <ion-row style="margin-top: 30vh">
              <ion-col> </ion-col>
              <ion-col>
                <ion-button
                  *ngIf="selectedOption === 'activity' || selectedOption === 'accommodation'"
                  mode="ios"
                  style="margin-bottom: 10%"
                  expand="block"
                  (click)="goNext()"
                  >Seterusnya</ion-button
                >
              </ion-col>
            </ion-row>
          </swiper-slide>

          <!-- step 3 -->
          <swiper-slide>
            <!-- accomodation form -->

            <ion-item
              *ngIf="selectedOption === 'accommodation'"
              class="no-border"
            >
              <ion-label mode="ios" class="question-label"
                >Tempat Penginapan/<span style="font-style: italic"
                  >Accommodation</span
                ></ion-label
              >
            </ion-item>

            <ion-item
              class="no-border"
              *ngIf="selectedOption === 'accommodation'"
            >
              <ion-label
                mode="ios"
                position="stacked"
                class="question-label-grey"
                >Nama Penginapan/Homestay</ion-label
              >
              <!-- <ion-label position="stacked">Username</ion-label> -->
              <ion-input
                placeholder="e.g., Homestay Hut"
                class="form-input"
                [(ngModel)]="accomData.name"
                name="homest_name"
                [required]="selectedOption === 'accommodation'"
                #homestName="ngModel"
              >
              </ion-input>

              <!-- error msg homestay name -->
              <ion-text
                *ngIf="homestName?.invalid && (homestName?.touched || form.submitted)"
              >
                <ion-text *ngIf="homestName?.errors?.['required']">
                  <p class="error-message">
                    *Sila isi nama Tempat Penginapan / Homestay name is required
                  </p>
                </ion-text>
              </ion-text>
            </ion-item>

            <!-- District -->
            <ion-item
              class="no-border"
              *ngIf="selectedOption === 'accommodation'"
            >
              <ion-label
                mode="ios"
                position="stacked"
                class="question-label-grey"
                >Penerangan/Description</ion-label
              >
              <!-- <ion-label position="stacked">Username</ion-label> -->
              <ion-input
                placeholder="e.g. Describe your accomodation"
                class="form-input"
                [(ngModel)]="accomData.description"
                name="descriptionInput"
                [required]="selectedOption === 'accommodation'"
                #description="ngModel"
              >
              </ion-input>

              <!-- error msg description -->
              <ion-text
                *ngIf="description.invalid && (description.touched || form.submitted)"
              >
                <ion-text *ngIf="description.errors?.['required']">
                  <p class="error-message">
                    *Sila isi Penerangan / Description is required
                  </p>
                </ion-text>
              </ion-text>
            </ion-item>

            <!-- Price -->
            <ion-item
              class="no-border"
              *ngIf="selectedOption === 'accommodation'"
            >
              <ion-label
                mode="ios"
                position="stacked"
                class="question-label-grey"
                >Harga/Price(RM)</ion-label
              >
              <!-- <ion-label position="stacked">Username</ion-label> -->
              <ion-input
                placeholder="e.g. RM 20.00"
                type="number"
                class="form-input"
                [(ngModel)]="accomData.price"
                name="price"
                [required]="selectedOption === 'accommodation'"
                #price="ngModel"
              >
              </ion-input>

              <!-- error msg description -->
              <ion-text
                *ngIf="price.invalid && (price.touched || form.submitted)"
              >
                <ion-text *ngIf="price.errors?.['required']">
                  <p class="error-message">
                    *Sila isi Harga / Price is required
                  </p>
                </ion-text>
              </ion-text>
            </ion-item>

            <!-- Address -->
            <ion-item
              class="no-border"
              *ngIf="selectedOption === 'accommodation'"
            >
              <ion-label
                mode="ios"
                position="stacked"
                class="question-label-grey"
                >Address</ion-label
              >
              <!-- <ion-label position="stacked">Username</ion-label> -->
              <ion-input
                placeholder="e.g. Full Address for the Accomodation "
                class="form-input"
                [(ngModel)]="accomData.address"
                name="address"
                [required]="selectedOption === 'accommodation'"
                #description="ngModel"
              >
              </ion-input>

              <!-- error msg description -->
              <ion-text
                *ngIf="description.invalid && (description.touched || form.submitted)"
              >
                <ion-text *ngIf="description.errors?.['required']">
                  <p class="error-message">
                    *Sila isi Penerangan / Description is required
                  </p>
                </ion-text>
              </ion-text>
            </ion-item>

            <!--District-->
            <ion-item *ngIf="selectedOption === 'accommodation'">
              <ion-label position="stacked">District</ion-label>
              <ion-select
                [(ngModel)]="accomData.district"
                name="accomDistrict"
                placeholder="Select District"
                required
              >
                <ion-select-option value="Kiulu">Kiulu</ion-select-option>
                <ion-select-option value="Kota Belud"
                  >Kota Belud</ion-select-option
                >
              </ion-select>

              <ion-text *ngIf="!accomData.district && form?.submitted">
                <p class="error-message">
                  *Sila pilih District / Please select a district
                </p>
              </ion-text>
            </ion-item>

            <!-- Provided (optional field) -->
            <!-- Add Provided -->
            <ion-item
              class="no-border"
              *ngIf="selectedOption === 'accommodation'"
            >
              <ion-label position="stacked">Disediakan/Provided</ion-label>
              <ion-input
                [(ngModel)]="newProvidedAccomodation.title"
                placeholder="Contoh: Keselamatan"
                name="thing_title"
              >
              </ion-input>
            </ion-item>

            <ion-item
              class="no-border"
              *ngIf="selectedOption === 'accommodation'"
            >
              <ion-button
                expand="block"
                color="primary"
                (click)="addProvided()"
              >
                Tambah Disediakan / Add Provided
              </ion-button>
            </ion-item>

            <ion-item
              class="no-border"
              *ngIf="selectedOption === 'accommodation'"
            >
              <ion-list *ngIf="accomData.provided_accomodation.length > 0">
                <ion-item
                  *ngFor="let provided_accomodation of accomData.provided_accomodation; let i = index"
                >
                  <ion-label>
                    <h3>{{ provided_accomodation.title }}</h3>
                  </ion-label>
                  <ion-button
                    fill="clear"
                    color="danger"
                    (click)="removeProvided(i)"
                  >
                    <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                  </ion-button>
                </ion-item>
              </ion-list>
            </ion-item>

            <!-- Accommodation Start & End Dates -->
            <ion-item
              *ngIf="selectedOption === 'accommodation'"
              class="no-border"
            >
              <ion-label position="stacked" class="question-label-grey">
                Tarikh / Date Range
              </ion-label>
              <div class="date-range-inputs" style="display: flex; gap: 10px">
                <ion-input
                  type="date"
                  [(ngModel)]="accomData.startDate"
                  name="accomStartDate"
                  placeholder="Dari / From"
                ></ion-input>
                <ion-input
                  type="date"
                  [(ngModel)]="accomData.endDate"
                  name="accomEndDate"
                  placeholder="Hingga / To"
                ></ion-input>
              </div>
            </ion-item>

            <!-- Accommodation Price for Date Range -->
            <ion-item
              *ngIf="selectedOption === 'accommodation'"
              class="no-border"
            >
              <ion-label position="stacked" class="question-label-grey">
                Harga / Price (RM) for Date Range
              </ion-label>
              <ion-input
                type="number"
                [(ngModel)]="accomDateRangePrice"
                name="accomDateRangePrice"
                (ngModelChange)="accomDateRangePrice = +$event"
                placeholder="Contoh: 250"
              ></ion-input>
            </ion-item>

            <!-- Add Date Range Button -->
            <ion-item *ngIf="selectedOption === 'accommodation'" lines="none">
              <ion-button
                expand="block"
                color="primary"
                (click)="addAvailableDateRangeForAccommodation()"
                [disabled]="!accomData.startDate || !accomData.endDate || !accomDateRangePrice"
              >
                Tambah / Add Date Range
              </ion-button>
            </ion-item>

            <!-- Display Generated Dates Table -->
            <ion-list *ngIf="accomData.available_dates_list.length > 0">
              <ion-item
                *ngFor="let date of accomData.available_dates_list; let i = index"
              >
                <ion-label>
                  <h3>{{ date.date }}</h3>
                  <p>RM {{ date.price }}</p>
                </ion-label>
                <ion-button
                  fill="clear"
                  color="danger"
                  (click)="removeAccomAvailableDate(i)"
                >
                  <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-list>

            <!-- Image Upload - Activity -->
            <ion-item
              class="no-border"
              *ngIf="selectedOption === 'accommodation'"
            >
              <ion-label
                mode="ios"
                position="stacked"
                class="question-label-grey"
                >Gambar / Image</ion-label
              >
              <input
                type="file"
                accept="image/*"
                (change)="onImageSelected($event)"
                class="form-input"
              />
            </ion-item>

            <!-- Preview Image for Activity -->
            <ion-item
              class="no-border"
              *ngIf="selectedOption === 'accommodation'"
            >
              <ion-item class="no-border" *ngIf="imagePreview">
                <img
                  [src]="imagePreview"
                  alt="Preview"
                  style="width: 100%; height: auto; border-radius: 10px"
                />
              </ion-item>
            </ion-item>

            <!-- Show in Availability Checkbox -->
            <ion-item
              class="no-border"
              *ngIf="selectedOption === 'accommodation'"
            >
              <ion-label>Show in Availability?</ion-label>
              <ion-checkbox
                [(ngModel)]="accomData.showAvailability"
                name="showInAvailability"
                (ionChange)="onShowInAvailability()"
              ></ion-checkbox>
            </ion-item>

            <!-- <ion-item class="no-border" *ngIf="selectedOption === 'accommodation'">
              <ion-label mode="ios" position="stacked" class="question-label-grey">Lokasi/Location</ion-label> -->
            <!-- <ion-label position="stacked">Username</ion-label> -->
            <!-- <ion-input placeholder="e.g., Zuki bin Suki" class="form-input" [(ngModel)]="accomData.location"
                name="email" required></ion-input> -->

            <!-- <ion-select 
                class="form-input" 
                aria-label="location" interface="popover"
                placeholder="Pilih Lokasi/Pick Location" 
                [(ngModel)]="accomData.location" 
                name="location"
                [required]="selectedOption === 'accommodation'"
                #location="ngModel">
                <ion-select-option value="Kiulu">Kiulu</ion-select-option>
                <ion-select-option value="Kedamaian">Kedamaian</ion-select-option> -->
            <!-- <ion-select-option value="bananas">Bananas</ion-select-option> -->
            <!-- </ion-select> -->

            <!-- error msg location -->
            <!-- <ion-text *ngIf="location?.invalid && (location?.touched || form.submitted)">
                <ion-text *ngIf="location?.errors?.['required']">
                  <p class="error-message">*Sila pilih lokasi / Location required</p>
                </ion-text>
              </ion-text>

            </ion-item> -->

            <!------------------------ACTIVTTY FORM ------------------------------------------------------------------------------->
            <!-- activity form -->

            <!-- title -->
            <ion-list class="form-container">
              <h4>Activity Details</h4>
              <hr *ngIf="selectedOption === 'activity'" />

              <ion-item class="no-border" *ngIf="selectedOption === 'activity'">
                <ion-label
                  mode="ios"
                  position="stacked"
                  class="question-label-grey"
                >
                  Jenis Aktiviti / Activity Type
                </ion-label>

                <ion-select
                  class="form-input"
                  placeholder="Pilih Jenis Aktiviti"
                  [(ngModel)]="activityData.activity_type_id"
                  name="activity_type_id"
                  (ionChange)="selectActivity($event.detail.value)"
                  [required]="selectedOption === 'activity'"
                  #activityType="ngModel"
                >
                  <ion-select-option
                    *ngFor="let type of activityTypes"
                    [value]="type.id"
                  >
                    {{ type.activity_name }}
                  </ion-select-option>
                </ion-select>

                <!-- error msg -->
                <ion-text
                  *ngIf="activityType.invalid && (activityType.touched || form.submitted)"
                >
                  <p class="error-message">
                    *Sila pilih Jenis Aktiviti / Activity Type is Required
                  </p>
                </ion-text>
              </ion-item>

              <ion-item class="no-border" *ngIf="selectedOption === 'activity'">
                <ion-label
                  mode="ios"
                  position="stacked"
                  class="question-label-grey"
                  >Alamat / Address</ion-label
                >
                <ion-input
                  type="text"
                  class="form-input"
                  placeholder="Contoh: Kampung Kiulu, Sabah"
                  [(ngModel)]="activityData.address"
                  name="address"
                  [required]="selectedOption === 'activity'"
                  #address="ngModel"
                >
                </ion-input>
                <ion-text
                  *ngIf="address.invalid && (address.touched || form.submitted)"
                >
                  <p class="error-message">
                    *Sila isi Alamat / Address is Required
                  </p>
                </ion-text>
              </ion-item>

              <!-- activity name field -->
              <!-- <ion-item class="no-border" *ngIf="selectedOption === 'activity'">
                <ion-label mode="ios" position="stacked" class="question-label-grey">Nama Aktiviti/Activity Name</ion-label> -->
              <!-- <ion-label position="stacked">Username</ion-label> -->
              <!-- <ion-input 
                  placeholder="e.g., Kayak" 
                  class="form-input" 
                  [(ngModel)]="activityData.activity_name"
                  name="activity_name" 
                  [required]="selectedOption === 'activity'"
                  #activityName="ngModel">
                </ion-input> -->

              <!-- error msg activity name -->
              <!-- <ion-text *ngIf="activityName?.invalid && (activityName?.touched || form.submitted)">
                <ion-text *ngIf="activityName?.errors?.['required']">
                  <p class="error-message">*Sila isi nama Aktiviti / Activity Name is Required</p>
                </ion-text>
              </ion-text> -->

              <!-- </ion-item> -->
              <!--District-->
              <ion-item *ngIf="selectedOption === 'activity'">
                <ion-label position="stacked" class="question-label-grey"
                  >District</ion-label
                >
                <ion-select
                  class="form-input"
                  [(ngModel)]="activityData.district"
                  name="district"
                  placeholder="Select District"
                  required
                >
                  <ion-select-option value="Kiulu">Kiulu</ion-select-option>
                  <ion-select-option value="Kota Belud"
                    >Kota Belud</ion-select-option
                  >
                </ion-select>

                <ion-text *ngIf="!activityData.district && form.submitted">
                  <p class="error-message">
                    *Sila pilih District / Please select a district
                  </p>
                </ion-text>
              </ion-item>

              <!-- activity price per pax -->
              <ion-item class="no-border" *ngIf="selectedOption === 'activity'">
                <!-- <ion-label mode="ios" position="stacked" class="question-label-grey">Harga/Price per Pax.</ion-label> -->
                <!-- <ion-label position="stacked">Username</ion-label> -->
                <!-- <ion-input 
                  class="form-input" 
                  type="number"
                  placeholder="Contoh: RM 50.00"
                  [(ngModel)]="activityData.price"
                  [required]="selectedOption === 'activity'"
                  #price="ngModel"
                  name="price">
                </ion-input> -->

                <!-- error msg price per pax  -->
                <!-- <ion-text *ngIf="price.invalid && (price?.touched || form.submitted)">
                <ion-text *ngIf="price?.errors?.['required']">
                  <p class="error-message">*Sila isi Harga / Price is Required</p>
                </ion-text>
              </ion-text> -->
              </ion-item>

              <!-- Description Field -->
              <ion-item class="no-border" *ngIf="selectedOption === 'activity'">
                <ion-label
                  mode="ios"
                  position="stacked"
                  class="question-label-grey"
                  >Penerangan / Description</ion-label
                >
                <ion-textarea
                  class="form-input"
                  placeholder="Contoh: Aktiviti kayak di sungai Kiulu"
                  [(ngModel)]="activityData.description"
                  name="description"
                  [required]="selectedOption === 'activity'"
                  #description="ngModel"
                >
                </ion-textarea>
                <ion-text
                  *ngIf="description.invalid && (description.touched || form.submitted)"
                >
                  <p class="error-message">
                    *Sila isi Penerangan / Description is Required
                  </p>
                </ion-text>
              </ion-item>

              <hr *ngIf="selectedOption === 'activity'" />

              <!-- Services Provided (optional field) -->
              <!-- Add new Service Provided -->
              <ion-item class="no-border" *ngIf="selectedOption === 'activity'">
                <ion-label position="stacked" class="question-label-grey"
                  >Servis Disediakan / Services Provided (Title)</ion-label
                >
                <ion-input
                  class="form-input"
                  [(ngModel)]="newService.title"
                  placeholder="Contoh: Keselamatan"
                  name="service_title"
                >
                </ion-input>
              </ion-item>

              <ion-item class="no-border" *ngIf="selectedOption === 'activity'">
                <ion-label position="stacked" class="question-label-grey"
                  >Services Provided (Description)</ion-label
                >
                <ion-textarea
                  class="form-input"
                  [(ngModel)]="newService.description"
                  placeholder="Contoh: Sila pakai jaket keselamatan"
                  name="service_description"
                >
                </ion-textarea>
              </ion-item>

              <ion-item class="no-border" *ngIf="selectedOption === 'activity'">
                <ion-button
                  class="add-services-btn"
                  expand="block"
                  color="primary"
                  (click)="addServiceProvided()"
                >
                  Tambah
                </ion-button>
              </ion-item>

              <ion-item class="no-border" *ngIf="selectedOption === 'activity'">
                <ion-list
                  class="table-services"
                  *ngIf="activityData.services_provided_list.length > 0"
                >
                  <ion-item
                    *ngFor="let service of activityData.services_provided_list; let i = index"
                  >
                    <ion-label>
                      <h3>{{ service.title }}</h3>
                      <p>{{ service.description }}</p>
                    </ion-label>
                    <ion-button
                      fill="clear"
                      color="danger"
                      (click)="removeServiceProvided(i)"
                    >
                      <ion-icon
                        slot="icon-only"
                        name="trash-outline"
                      ></ion-icon>
                    </ion-button>
                  </ion-item>
                </ion-list>
              </ion-item>

              <h4>Date & Time</h4>
              <hr *ngIf="selectedOption === 'activity'" />

              <ion-item *ngIf="selectedOption === 'activity'" lines="none">
                <ion-label position="stacked" class="question-label-grey"
                  >Tarikh / Date Range</ion-label
                >
                <div class="date-range-inputs">
                  <ion-input
                    type="date"
                    class="form-input"
                    [(ngModel)]="availableDateRangeEntry.startDate"
                    name="startDate"
                    placeholder="Dari / From"
                    clearInput
                  >
                  </ion-input>
                  <ion-input
                    type="date"
                    class="form-input"
                    [(ngModel)]="availableDateRangeEntry.endDate"
                    name="endDate"
                    placeholder="Hingga / To"
                    clearInput
                  >
                  </ion-input>
                </div>
              </ion-item>

              <ion-item *ngIf="selectedOption === 'activity'" lines="none">
                <ion-label position="stacked" class="question-label-grey"
                  >Masa / Time Slot</ion-label
                >
                <div class="time-slot-inputs">
                  <ion-input
                    type="time"
                    class="form-input"
                    [(ngModel)]="newTimeSlot.startTime"
                    name="timeSlotStart"
                    placeholder="Mula / Start"
                  >
                  </ion-input>
                  <ion-input
                    type="time"
                    class="form-input"
                    [(ngModel)]="newTimeSlot.endTime"
                    name="timeSlotEnd"
                    placeholder="Tamat / End"
                  >
                  </ion-input>
                </div>

                <ion-button
                  class="add-time-slots-btn"
                  size="small"
                  color="primary"
                  (click)="addTimeSlot()"
                  >Tambah Slot / Add Slot</ion-button
                >
              </ion-item>

              <!-- Display current time slots -->
              <ion-list *ngIf="availableDateRangeEntry.timeSlots.length > 0">
                <ion-item
                  *ngFor="let slot of availableDateRangeEntry.timeSlots; let i = index"
                >
                  <ion-label
                    >{{ slot.startTime }} - {{ slot.endTime }}</ion-label
                  >
                  <ion-button
                    fill="clear"
                    color="danger"
                    (click)="removeTimeSlot(i)"
                  >
                    <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                  </ion-button>
                </ion-item>
              </ion-list>

              <!-- Price -->
              <ion-item *ngIf="selectedOption === 'activity'" lines="none">
                <ion-label position="stacked" class="question-label-grey"
                  >Harga / Price</ion-label
                >
                <div class="price-per-pax">
                  <ion-input
                    type="number"
                    class="form-input"
                    [(ngModel)]="availableDateRangeEntry.price"
                    name="dateRangePrice"
                    placeholder="RM"
                    (ngModelChange)="availableDateRangeEntry.price = +$event"
                    clearInput
                  >
                  </ion-input>
                  <span class="per-pax-text">per pax</span>
                </div>
              </ion-item>

              <!-- Add Date Range Button -->
              <div
                class="ion-padding-top"
                *ngIf="selectedOption === 'activity'"
              >
                <ion-button
                  class="add-date-range"
                  color="primary"
                  expand="block"
                  (click)="addAvailableDateRange()"
                  [disabled]="!isAvailableDateRangeValid"
                >
                  Tambah / Add Date Range
                </ion-button>
              </div>

              <!-- Display Available Dates Table -->
              <ion-list *ngIf="activityData.available_dates_list.length > 0">
                <ion-item
                  *ngFor="let date of activityData.available_dates_list; let i = index"
                  lines="full"
                >
                  <ion-label>
                    <h3>{{ date.date }} | {{ date.time }}</h3>
                    <p>RM {{ date.price }} per pax</p>
                  </ion-label>
                  <ion-button
                    fill="clear"
                    color="danger"
                    (click)="removeAvailableDate(i)"
                  >
                    <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                  </ion-button>
                </ion-item>
              </ion-list>

              <!-- Operator Logo Upload -->
              <!-- <ion-item class="no-border" *ngIf="selectedOption === 'activity'">
                  <ion-label mode="ios" position="stacked" class="question-label-grey">Logo Operator / Operator Logo</ion-label>
                  <input
                    type="file"
                    accept="image/*"
                    (change)="onOperatorLogoSelected($event)"
                    class="form-input" />
                </ion-item> -->

              <!-- Operator Logo Preview -->
              <!-- <ion-item class="no-border" *ngIf="selectedOption === 'activity' && operatorLogoPreview">
                  <img [src]="operatorLogoPreview" alt="Operator Logo Preview" style="width: 100%; height: auto; border-radius: 10px;" />
                </ion-item> -->

              <h4>Display Image</h4>
              <hr *ngIf="selectedOption === 'activity'" />
              <!-- Image Upload -->
              <ion-item class="no-border" *ngIf="selectedOption === 'activity'">
                <ion-label
                  mode="ios"
                  position="stacked"
                  class="question-label-grey"
                  >Gambar / Image</ion-label
                >
                <input
                  type="file"
                  accept="image/*"
                  (change)="onImageSelected($event)"
                  class="form-input"
                />
              </ion-item>

              <!-- Preview Image -->
              <ion-item class="no-border" *ngIf="selectedOption === 'activity'">
                <ion-item class="no-border" *ngIf="imagePreview">
                  <img
                    [src]="imagePreview"
                    alt="Preview"
                    style="width: 100%; height: auto; border-radius: 10px"
                  />
                </ion-item>
              </ion-item>

              <!-- Show in Suggestions Checkbox -->
              <!-- <ion-item class="no-border" *ngIf="selectedOption === 'activity'">
                <ion-label>Show in suggestions?</ion-label>
                <ion-checkbox
                  [(ngModel)]="activityData.showInSuggestions"
                  name="showInSuggestions"
                  (ionChange)="onShowInSuggestionsChange()"
                ></ion-checkbox>
              </ion-item> -->

              <!-- activity location field -->
              <!-- <ion-item class="no-border" *ngIf="selectedOption === 'activity'">
                <ion-label mode="ios" position="stacked" class="question-label-grey">Lokasi/Location</ion-label>

                <ion-select 
                  class="form-input" 
                  aria-label="location" 
                  interface="popover"
                  placeholder="Pilih Lokasi/Pick Location" 
                  [(ngModel)]="activityData.location" 
                  name="location"
                  [required]="selectedOption === 'activity'"
                  #activityLocation="ngModel">

                  <ion-select-option value="Kiulu">Kiulu</ion-select-option>
                  <ion-select-option value="Kedamaian">Kedamaian</ion-select-option> -->
              <!-- <ion-select-option value="bananas">Bananas</ion-select-option> -->
              <!-- </ion-select> -->

              <!-- error msg activity name -->
              <!-- <ion-text *ngIf="activityLocation?.invalid && (activityLocation?.touched || form.submitted)">
                <ion-text *ngIf="activityLocation?.errors?.['required']">
                  <p class="error-message">*Sila pilih Lokasi / Location required</p>
                </ion-text>
              </ion-text>

              </ion-item> -->

              <ion-alert
                [isOpen]="isAlertOpen"
                header=" Berjaya Didaftarkan!"
                subHeader="Created Successfully!"
                [buttons]="alertButtons"
                (didDismiss)="setOpen(false)"
                backdropDismiss="false"
              ></ion-alert>

              <ion-row style="margin-top: 10px; margin-bottom: 10px">
                <ion-col>
                  <ion-button fill="clear" (click)="goPrev()" mode="ios">
                    <ion-icon slot="start" name="chevron-back"></ion-icon>
                    <span>Back</span>
                  </ion-button>
                </ion-col>
                <ion-col>
                  <ion-button
                    mode="ios"
                    expand="block"
                    type="submit"
                    [disabled]="form.invalid"
                  >
                    Daftar/Register</ion-button
                  >
                  <!-- <ion-button mode="ios" style="margin-bottom: 10%;" expand="block" (click)="goNext()">Next</ion-button> -->
                </ion-col>
              </ion-row>
            </ion-list>
          </swiper-slide>
        </swiper-container>
      </ion-card>
    </div>
  </form>
</ion-content>
