

<ion-content [fullscreen]="true" class="operator-detail">
  <div class="hero-image-container">
    <img [src]="operatorData?.image || 'assets/default-operator.jpg'" alt="Operator Image" />
    <ion-button fill="clear" class="back-btn" (click)="backHome()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-button fill="clear" class="favorite-btn" (click)="toggleFavorite()">
      <ion-icon [name]="isFavorite ? 'heart' : 'heart-outline'"></ion-icon>
    </ion-button>
  </div>

  <div class="operator-header">
    <img [src]="operatorData?.operator_logo || 'assets/default-operator.jpg'" alt="Operator Logo" />
    <h1>{{ operatorData?.business_name }}</h1>
    <ion-icon name="location"></ion-icon>
    <div class="address-details">
         <p>{{ operatorData?.address }}</p>
    </div>
  </div>

  <hr/>

  <section class="section-about">
    <h2>About This Activity</h2>
    <p>{{ operatorData?.description }}</p>
  </section>

  <hr/>


    <section class="section-services">
      <h2>Services Provided</h2>
      <ion-list>
      <ion-item *ngFor="let service of operatorData?.services_provided_list">
        <ion-label>
          <h3>{{ service.title }}</h3>
          <p>{{ service.description }}</p>
        </ion-label>
      </ion-item>

      </ion-list>
    </section>


  <div class="price-container">
    <div class="price">
      <span>RM {{ operatorData?.price_per_pax }}</span>
      <small>per pax</small>
    </div>
    <ion-button class="proceed" expand="block" (click)="proceed()">
      Proceed
    </ion-button>
  </div>
</ion-content>
