<ion-content class="background" [fullscreen]="true">
  <div class="card-container">
    <ion-card>
      <ion-button fill="clear" (click)="backHome()" mode="ios">
        <ion-icon slot="start" name="chevron-back"></ion-icon>
        <span>Back To Main Page</span>
      </ion-button>

      <ion-col class="ion-blue-bkg">
        <img src="../../assets/icon/rt logo.png" class="borneo" />
      </ion-col>

      <h1>Pilih Peranan/Select Role</h1>
      <p>Sila pilih peranan untuk anda log masuk</p>

      <ion-card-content>
        <ion-button
          mode="ios"
          type="submit"
          color="primary"
          class="input-button"
          expand="block"
          [routerLink]="['/login']"
          [queryParams]="{ role: 'operator' }"
        >
          Pengandali/Operator
        </ion-button>

        <ion-button
          mode="ios"
          type="submit"
          color="primary"
          class="input-button"
          expand="block"
          [routerLink]="['/login']"
          [queryParams]="{ role: 'tourist' }"
        >
          Pelancong/Tourist
        </ion-button>

        <ion-button
          mode="ios"
          type="submit"
          color="primary"
          class="input-button"
          expand="block"
          [routerLink]="['/login']"
          [queryParams]="{ role: 'association' }"
        >
          Persatuan/Association
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
