*{
  font-family: 'Roboto';
}

ion-header{
  background: #000;
}

ion-toolbar {
  min-height: 56px;
  background: #000;
  --border-width: 0;
  --border-color: transparent;
  box-shadow: none;
}

ion-content {
  --background: #000; /* light gray background for contrast */
}

.item-nav{
  --padding-start: 0;
  --border-width: 0;
  --border-style: none !important;
  margin-left: 5%;
  margin-top: 20px;
}


//Side Panel Menu

.side-menu {
  --background: #fff;
  padding: 50px;
  overflow: hidden;
}

.side-menu h2{
  font-weight: bolder;
}

.guest-details{
  margin-top: 10px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.guest-details hr {
  border: none;
  border-top: 1px solid #dddddd;
  margin: 16px 0;
}

.guest-details a {
font-weight: bold;
--color: #025930;
}


.page-padding {
  background-color: white; /* visible container */
  height: auto;
  padding: 10px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  box-sizing: border-box;
  margin-top: 10px; /* add some space from the top of ion-content */
  overflow: hidden; /* prevent overflow outside rounded corners */
}


.logo {
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 5%;
}

.logo-side-panel {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1px;
  text-align: center;
  padding: 5%;
}

ion-searchbar.searchbar {
  --background: #fff;
  --color: #000;
  --placeholder-color: #888;
  --icon-color: #025930;
  --clear-button-color: #ccc;
  border: 1px solid #ccc;
  border-radius: 30px;
  width: 95%;
  margin: 20px auto;
  padding: -5px;
  font-size: 14px;
}


// Ion Segment Styling (Options: Activity, Accommodation, Package)
ion-segment {
  background-color: transparent;
  padding: 10px;
}

.segment-icon {
  width: 50px;
  margin-bottom: 4px;
  object-fit: contain;
}

ion-segment-button {
  --color: black;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  padding-bottom: 5px;

  ion-label {
    font-weight: 600;
    font-size: 14px;
    margin-top: 4px;
    position: relative;
    color: black;
  }

  &.segment-button-checked {
    ion-label {
      color: #025930; 

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 10%;
        height: 3px;
        width: 100%;
        background-color: #025930;
        border-radius: 10px;
      }
    }
  }
}


.section{
 padding: 10px;
 margin-top: 10px;
}
.section h2{  
  font-size: 16px;
  color: #025930;
  font-weight: bolder;
  
}

.horizontal-scroll {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* smooth scrolling on iOS */
  padding: 20px; /* add horizontal padding */
  gap: 1px; /* no gap to allow overlap */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

.option-card {
  width: 200px;
  height: 180px;
  margin-top: -10px;
  margin-bottom: 0px;
  min-width: 200px;  /* fixed width to make scrolling easier */
  min-height: 180px; /* fixed height to make scrolling easier */
  margin-right: 0; 
  transition: transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  overflow: hidden;
  position: relative;
  z-index: 0;
  border-radius: 8px;
}

.option-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.card-title-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  // background: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  text-align: left;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  z-index: 1;
}
/* cancels container's left padding */
.option-card:first-child {
  margin-left: -20px; 
}

.option-card:hover {
  transform: scale(1.05);
  margin-right: 10px; /* expand on hover, remove overlap */
  z-index: 10; 
}

/* Services unavailable section */
.section-coming-soon{
 background-color: #f5f5f5;
 padding: 60px;
 margin-top: 10px;
 margin-bottom: 300px;
 border-radius: 10px;
 text-align: center;
}

.section-coming-soon h2{
font-size: 14px;
color: #a5a5a5;
font-weight: lighter;
}

.service-unavailable-icon{
  width: 40px;
  height: 40px;
  opacity: 0.5;
}

.option-card .card-image-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.option-card .accom-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* makes the image cover the card fully */
  display: block;
}

