ion-content {
  --background: #ffffff;
  padding: 0;
}

/* ===== Header ===== */
.header-container {
  width: 100%;
  padding: 16px 20px 0 20px;
  position: relative;
}

.header-center {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.logo {
  width: 60%;
  max-width: 90%;
  margin-top: 30px;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
}

.back-button {
  position: absolute;
  top: 16px;
  left: 16px;
  background: #025930;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.back-button ion-icon {
  color: #fff;
  font-size: 22px;
}

.page-title {
  font-size: 30px;
  text-align: left;
  font-weight: 800;
  margin-left: 20px;
  margin-bottom: 5px;
  color: #222;
}

.divider {
  width: 90%;
  height: 1px;
  background: #ccc;
  margin: 16px auto 0 auto;
}

/* ===== Notifications ===== */
.notification-list {
  width: 90%;
  margin: 20px auto;
}

.notification-item {
  display: flex;
  gap: 12px;
  align-items: flex-start;
  padding: 10px;
  --background: #ffffff;
  // box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  transition: background 0.2s ease;
}

// .notification-item:hover {
//   --background: #f9f9f9;
// }

.notification-item.unread {
  --background: #f3fdf8;
}

/* Avatar */
.avatar-circle {
  min-width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #025930;
  color: #fff;
  font-weight: 700;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin: 20px 20px 20px 0; /* top, right, bottom, left */
}

// /* Text */
// .notification-content {
//   margin: 0;
// }

.notif-title {
  font-weight: 700;
  font-size: 0.95rem;
  color: #222;
}

.notif-message {
  font-size: 0.9rem;
  color: #555;
}

.notif-time {
  margin-top: 6px;
  display: block;
  font-size: 0.75rem;
  color: #888;
  margin-bottom: 10px;
}

/* Empty state */
.no-notifications {
  margin-top: 60px;
  text-align: center;
}

.no-notification-img {
  width: 120px;
  opacity: 0.8;
  margin-bottom: 12px;
}

.no-text {
  color: #666;
  font-size: 0.95rem;
}
