ion-content {
  --background: #ffffff;
  padding: 0;
}

/* ===== Header ===== */
.header-container {
  width: 100%;
  padding: 16px 20px 0 20px;
  position: relative;
}

.header-center {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.header-logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 30px;
  margin-bottom: 8px;
}

.header-logo {
  height: 52px;
  width: auto;
  object-fit: contain;
}

.header-logo-divider {
  width: 1px;
  height: 48px;
  background: #ccc;
}

.header-logo-placeholder {
  height: 52px;
  width: 52px;
  border-radius: 50%;
  background: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;

  ion-icon {
    font-size: 28px;
    color: #888;
  }
}

.back-button {
  position: absolute;
  top: 16px;
  left: 16px;
  background: #025930;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.back-button ion-icon {
  color: #fff;
  font-size: 22px;
}


.mark-all-footer {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px 20px;
  background: #ffffff;
  border-top: 1px solid #e0e0e0;
}

.mark-all-btn {
  display: block;
  width: 100%;
  padding: 14px;
  background: #025930;
  color: #ffffff;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
}

.divider {
  width: 90%;
  height: 1px;
  background: #ccc;
  margin: 16px auto 0 auto;
}

/* ===== Notifications ===== */
.notification-list {
  width: 90%;
  margin: 20px auto;
}

.notification-item {
  display: flex;
  gap: 12px;
  align-items: flex-start;
  padding: 10px;
  --background: #ffffff;
  // box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  transition: background 0.2s ease;
}

// .notification-item:hover {
//   --background: #f9f9f9;
// }

.notification-item.unread {
  --background: #f3fdf8;
}

/* Avatar */
.avatar-circle {
  min-width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #025930;
  color: #fff;
  font-weight: 700;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin: 20px 20px 20px 0; /* top, right, bottom, left */
}

// /* Text */
// .notification-content {
//   margin: 0;
// }

.notif-title {
  font-weight: 700;
  font-size: 0.95rem;
  color: #222;
}

.notif-message {
  font-size: 0.9rem;
  color: #555;
}

.notif-time {
  margin-top: 6px;
  display: block;
  font-size: 0.75rem;
  color: #888;
  margin-bottom: 10px;
}

/* Empty state */
.no-notifications {
  margin-top: 60px;
  text-align: center;
}

.no-notification-img {
  width: 120px;
  opacity: 0.8;
  margin-bottom: 12px;
}

.no-text {
  color: #666;
  font-size: 0.95rem;
}
