<ion-content class="ion-padding date-modal-content">
  <ion-datetime
    presentation="date"
    [(ngModel)]="selectedDate"
    [isDateEnabled]="isDateEnabled"
    style="margin: 0 auto"
  ></ion-datetime>

  <div class="date-modal-footer">
    <ion-button
      expand="block"
      color="success"
      (click)="confirm()"
      [disabled]="!selectedDate"
      >Select</ion-button
    >
    <ion-button expand="block" fill="clear" color="medium" (click)="close()"
      >Cancel</ion-button
    >
  </div>
</ion-content>
